.Card {
    background-color: yellow;
    border: solid 10px #ce8f08d7;
    margin: 10px;
    text-align: center;  
    height: 440px;
    padding: 5px;
    margin-top: 0px;
}

.CardDesc{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    padding: 0px;
}

.Attack {
    font-style: italic;
    font-size: 14px;
    padding: 0px;
}

.photo {
    height: 150px;
    width: 150px;
}

